<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @link.title %>
</p>

<p>
  <b>Web:</b>
  <%= @link.web %>
</p>

<p>
  <b>Linkcategory:</b>
  <%= @link.linkcategory_id %>
</p>


<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
