<%= form_for(@linkcategory) do |f| %>
  <% if @linkcategory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@linkcategory.errors.count, "error") %> prohibited this linkcategory from being saved:</h2>

      <ul>
      <% @linkcategory.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :info %><br />
    <%= f.text_area :info %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
